<!DOCTYPE html>
<html>
<head>
    <title>Verify email</title>
</head>
<body   style="background:#FF5733"  >
<div style="margin:0;padding:0; font-family:Book Antiqua;">
    <div style="min-height:05em;padding:1em 0;background:yellowgreen">
        <div style="width:40em;margin:0 auto;background:#fff">
            <div style="padding:1em">
                <h1 style="color:#4593E0;">Thank you, For Registering with us</h1>
                <hr>
                <h3>Hello {{data.name}},<br> Please verify your email address so we know that it's really you!.<br><a href={{data.url}} >Verify my email address</a></h>
            </div>
            {{!-- <div style="padding:0.6em;font-size:1.6em;background:scroll;color:#fff"><img alt="Ecommerce" height="72" width="290" src="" class="CToWUd"></div> --}}
        </div>
    </div>
</div>
</body>
</html>